---
fabricator: true
documentation: true
---

<div class="f-view-header">Templates</div>
<ul>
  {{#each views.templates.items}}
    <li id="{{@key}}" class="f-item-heading">
      <a href="templates/{{@key}}.html" target="_blank">{{name}}</a>
      {{#if data.description}}<small> - {{data.description}}</small>{{/if}}
    </li>
  {{/each}}
</ul>
