---
fabricator: true
documentation: true
---

<div class="f-view-header">Docs</div>
{{#each docs}}
  <div class="f-item-group" id="{{@key}}">
    <div class="f-item-heading-group">
      <div class="f-item-heading">{{name}}</div>
    </div>
    <div class="f-item-preview">
      {{{content}}}
    </div>
  </div>
{{/each}}
