<div class="f-menu">
  {{#if buildConfigInfo}}
  <div class="f-menu-item" onclick="location.href='configuration.html'">Configuration</div>
  {{/if}}
  <div class="f-menu-item" onclick="location.href='index.html'">Overview</div>
  {{#each materials}}
  <div class="f-menu-item" onclick="location.href='{{@key}}.html'">{{name}}</div>
  <div class="f-menu-toggle"></div>
  <div class="f-menu">
    {{#each items}}
      <div class="f-menu-item" onclick="location.href='{{@../key}}.html#{{@key}}'">{{name}}</div>
    {{/each}}
  </div>
  {{/each}}
  {{#each views}}
  <div class="f-menu-item" onclick="location.href='{{@key}}.html'">{{name}}</div>
  <div class="f-menu-toggle"></div>
  <div class="f-menu">
    {{#each items}}
      <div class="f-menu-item" onclick="location.href='{{@../key}}.html#{{@key}}'">{{name}}</div>
    {{/each}}
  </div>
  {{/each}}
  <div class="f-menu-item" onclick="location.href='docs.html'">Docs</div>
  <div class="f-menu-toggle"></div>
  <div class="f-menu">
    {{#each docs}}
      <div class="f-menu-item" onclick="location.href='docs.html#{{@key}}'">{{name}}</div>
    {{/each}}
  </div>
  <div class="f-controls">
    <div class="f-control" data-f-toggle-control="labels" title="Toggle Labels">
      <svg><use xlink:href="#f-icon-labels"/></svg>
	</div>
	<div class="f-control" data-f-toggle-control="notes" title="Toggle Notes">
      <svg><use xlink:href="#f-icon-notes"/></svg>
	</div>
	<div class="f-control" data-f-toggle-control="code" title="Toggle Code">
      <svg><use xlink:href="#f-icon-code"/></svg>
	</div>
  </div>
</div>
