---
notes: |
  These are notes associated with this `'button'` component.
  - some bullet points
  - and other bullet points
  ```javascript

  // Some sample code block
  function someFunction() {
    var test = 'test';
  }
  ```
---

<!--Some comment about this material-->
<button class="button">Submit</button>
