

// ITEM LAYOUT

:not(.f-item-group) > .f-item-group { padding-top: 48px; margin-bottom: 48px; }

.f-item-group > .f-item-group { padding-top: 24px; }

.f-item-heading-group { display: flex; }

.f-item-heading { line-height: 24px; }

.f-item-notes, .f-item-preview, .f-item-code { margin-top: 18px; }

.f-item-hidden { display: none; }


// ITEM STYLING

.f-item-group { }

.f-item-heading-group { color: $base; padding-bottom: 6px; border-bottom: 1px solid $base; }

.f-item-heading, .f-item-notes { font-size: 14px; }

.f-item-preview { }

.f-item-code { }
